<h1>Create a Team and Heroes!</h1>
<form method="POST" action="/teams">
  <did id="team_info">
    <label for="team_name"> Team Name: </label>
    <input type="text" id="team_name" name="team[name]"></input><br>
    <label for="team_motto"> Team Motto: </label>
    <input type="text" id="team_motto" name="team[motto]"></input>
  </div>

  <h1>Hero 1</h1>
  <did id="hero_info">
    <label for="hero_name"> Hero's Name: </label>
    <input type="text" id="hero_name" name="team[hero][][name]"></input><br>
    <label for="hero_power"> Hero's Power: </label>
    <input type="text" id="hero_power" name="team[hero][][power]"></input><br>
    <label for="hero_biography"> Hero's Biography: </label>
    <input type="text" id="hero_biography" name="team[hero][][biography]"></input><br>
  </div>

  <h1>Hero 2</h1>
  <did id="hero_info">
    <label for="hero_name"> Hero's Name: </label>
    <input type="text" id="hero_name" name="team[hero][][name]"></input><br>
    <label for="hero_power"> Hero's Power: </label>
    <input type="text" id="hero_power" name="team[hero][][power]"></input><br>
    <label for="hero_biography"> Hero's Biography: </label>
    <input type="text" id="hero_biography" name="team[hero][][biography]"></input><br>
  </div>

  <h1>Hero 3</h1>
  <did id="hero_info">
    <label for="hero_name"> Hero's Name: </label>
    <input type="text" id="hero_name" name="team[hero][][name]"></input><br>
    <label for="hero_power"> Hero's Power: </label>
    <input type="text" id="hero_power" name="team[hero][][power]"></input><br>
    <label for="hero_biography"> Hero's Biography: </label>
    <input type="text" id="hero_biography" name="team[hero][][biography]"></input><br>
  </div>
  <br>
  <input type="submit" name="Submit">

</form>
